@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
 
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #69aaff;
}

h2 {
  text-align: center;
  font-weight: 500;
}
 

.container {
  display: flex;
 
  justify-content: center;
}



.reload-button {
  background-color: rgb(129, 65, 182);
  border: none;
  padding: 15px;
  height: 70px;
  width: 80px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}


table {
  border: blue;
  border-collapse: collapse;
  background-color: white;
  /*background-color: #7bea00;*/
}
/*
td {
  background-color: #7bea00;
 
}*/


.jumbotron {
  background: #532F8C;
  color: rgb(211, 160, 160);
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

